In [3]:
import pandas as pd
import numpy as np

In [4]:
아파트_종류 = pd.read_csv("./아파트_종류_단지명포함.csv", encoding="cp949")
아파트_종류

,전용면적(㎡),계약일,거래금액(만원),층,건축년도,구,동,평,계약년,계약월,한강,건물나이,재건축,단지명
0,4.366278,1,65999.99984,2.197225,1988,강남구,개포동,25.7,2012,5,0.0,24,0.000000,개포2차현대아파트(220)
1,4.658047,13,84999.99999,2.397895,1984,강남구,개포동,34.5,2012,4,0.0,28,0.000000,개포우성3차
2,4.907495,8,119500.00020,2.944439,2004,강남구,개포동,44.3,2012,5,0.0,8,0.000000,개포자이(12-2)
3,3.939249,9,77500.00012,1.791759,1982,강남구,개포동,16.6,2012,1,0.0,30,0.693147,개포주공1단지
4,3.773910,9,67499.99989,1.791759,1982,강남구,개포동,14.0,2012,1,0.0,30,0.693147,개포주공1단지
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28533,3.928683,6,39000.00016,2.397895,2018,중랑구,상봉동,16.4,2021,11,0.0,3,0.000000,솔렌시아3(85-1)
28534,3.418054,6,33099.99992,2.708050,2022,중랑구,상봉동,9.7,2022,5,0.0,0,0.000000,스마트트라움
28535,4.081090,6,59599.99991,2.708050,2022,중랑구,상봉동,19.2,2022,5,0.0,0,0.000000,스마트트라움
28536,4.017643,6,55299.99997,2.397895,2022,중랑구,상봉동,18.0,2022,5,0.0,0,0.000000,스마트트라움
28537,4.053696,6,57350.00005,2.564949,2022,중랑구,상봉동,18.7,2022,5,0.0,0,0.000000,스마트트라움

In [6]:
a = 아파트_종류[아파트_종류["단지명"] == '건영(103동-106동)']
a

,전용면적(㎡),계약일,거래금액(만원),층,건축년도,구,동,평,계약년,계약월,한강,건물나이,재건축,단지명
3625,4.453649,20,41000.00018,2.484907,1997,동작구,노량진동,28.0,2012,2,0.0,15,0.0,건영(103동-106동)
3626,4.753245,22,45700.00007,2.197225,1997,동작구,노량진동,37.9,2012,3,0.0,15,0.0,건영(103동-106동)
13883,4.108083,17,33999.99983,2.890372,1997,동작구,노량진동,19.7,2014,3,0.0,17,0.0,건영(103동-106동)

,전용면적(㎡),계약일,거래금액(만원),층,건축년도,구,동,평,계약년,계약월,한강,건물나이,재건축,단지명
3625,4.453649,20,41000.00018,2.484907,1997,동작구,노량진동,28.0,2012,2,0.0,15,0.0,건영 아파트
3626,4.753245,22,45700.00007,2.197225,1997,동작구,노량진동,37.9,2012,3,0.0,15,0.0,건영 아파트
13883,4.108083,17,33999.99983,2.890372,1997,동작구,노량진동,19.7,2014,3,0.0,17,0.0,건영 아파트

In [19]:
if 아파트_종류["단지명"] == '건영(103동-106동)' :
    아파트_종류["단지명"] = "건영 아파트"
아파트_종류

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [32]:
아파트_종류["단지명"].replace({'건영(103동-106동)':'건영아파트'},inplace=True)

In [34]:
아파트_종류[아파트_종류["단지명"] == '건영아파트']

,전용면적(㎡),계약일,거래금액(만원),층,건축년도,구,동,평,계약년,계약월,한강,건물나이,재건축,단지명
2564,4.109890,9,21000.00001,2.079442,1998,노원구,공릉동,19.8,2012,4,0.0,14,0.0,건영아파트
2565,4.451436,21,28200.00008,2.639057,1998,노원구,공릉동,28.0,2012,8,0.0,14,0.0,건영아파트
3625,4.453649,20,41000.00018,2.484907,1997,동작구,노량진동,28.0,2012,2,0.0,15,0.0,건영아파트
3626,4.753245,22,45700.00007,2.197225,1997,동작구,노량진동,37.9,2012,3,0.0,15,0.0,건영아파트
9112,4.673389,13,34699.99986,2.639057,1998,노원구,공릉동,35.0,2013,5,0.0,15,0.0,건영아파트
13883,4.108083,17,33999.99983,2.890372,1997,동작구,노량진동,19.7,2014,3,0.0,17,0.0,건영아파트

In [35]:
아파트_종류.to_csv("./아파트_종류_단지명포함.csv",index=False)